.collection-preview {
  display: flex;
  flex-direction: column;
  padding: 0 15vw;

  .title {
    font-size: 25px;
    margin-bottom: 10vh;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Vollkorn";
  }

  .preview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20vh;
  }
}
