.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
  margin: 0 10px 50px 0;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .image img {
      transform: scale(1.1);
    }
  }

  @media (max-width: 500px) {
    margin: 0 0 50px 0;
  }

  .image {
    width: 100%;
    height: 700px;
    margin-bottom: 5px;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transform: scale(1);
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    @media (max-width: 1280px) {
      background-position: center;
    }
  }

  button {
    margin-top: 20px;
    font-size: 12px;
  }

  .collection-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .name {
      margin: 20px 0 0px 0;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
    }

    .price {
      size: 18px;
      color: #777777;
    }
  }
}
