.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  h2 {
    font-family: "Vollkorn";
    font-weight: 500;
    margin: 10px 0;
    font-size: 30px;
  }

  span {
    color: #8b8b8b;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .error {
    h5 {
      color: red;
      font-weight: normal;
    }
  }
}
