.sign-up {
  width: 380px;
  display: flex;
  flex-direction: column;

  .error {
    h5 {
      font-weight: normal;
      color: red;
    }
  }

  h2 {
    font-family: "Vollkorn";
    font-weight: 500;
    margin: 10px 0;
    font-size: 30px;
  }

  span {
    color: #8b8b8b;
  }
}
