@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap");

.header {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3000;
  padding: 0 100px;
  background-color: transparent;
  border-bottom: solid 1px transparent;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;

  &.scrolled {
    background-color: white;
    border-bottom: solid 1px rgb(216, 216, 216);
  }

  .logo {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: "Vollkorn SC", serif;
  }

  .logo-container {
    width: auto;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      &:not(:last-child) {
        margin-right: 30px;
      }
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-size: 14px;
    }
  }
}
