.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid #dadada;
  padding: 20px 0;
  font-size: 16px;
  align-items: center;

  .image-container {
    width: 23%;
    height: 150px;

    img {
      width: 50%;
      height: 100%;
      object-fit: contain;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .name {
    font-weight: bold;
  }

  .quantity {
    display: flex;

    .arrow {
      color: darkgrey;
      cursor: pointer;
    }

    .value {
      margin: 0 20px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
    font-weight: bold;
  }
}
