*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
}

.App > * {
  padding-top: 100px;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
