@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
}

.App > * {
  padding-top: 150px;
}
